body{
    margin:0;
    font-family:sans-serif;
    background-color: rgb(162, 213, 243);
}
*{
    box-sizing:border-box;
}
/*main*/

:root{
    --primary-color:#640c2a;
}
main{
    max-width:550px;
    background-color:var(--primary-color);
    margin:auto;
    padding:2rem;
    text-align:center;
    overflow:hidden;
}
input{
    display:block;
    width:90%;
    padding:1rem;
    margin:auto;
    font-family: inherit;
}
h1{
    font-size:1.6rem;
}
h1,p{
    color:white;
}

h2{
    color:#CBD5E1;
}

/*button*/
button{
    text-align:center;
    margin:1rem;
    width:5rem;
    padding:0.6rem;
    background-color:#ffffff;
    color:var(--primary-color);
    font-family: inherit;
}
.secondary-details{
    display:none;
}
.show-secondary-details{
    display:block;
}

/*table*/
table{
    width: 100%;
    table-layout:fixed;
}
table,th,td{
    border:1px solid black;
    padding:0.4rem;
    border-collapse:collapse;
    background-color: #CBD5E1;
}
th,td{
    word-wrap:break-word;
    color:#1E293B;
}
.table-collapse{
    border-collapse:collapse;
}
.notes-table{
    display: none;
}

.td-color{
    background-color:white;
}

.error{
    margin-top:4px;
    font-size:large;
}

.primary-error{
    display:none;
}

.secondary-error{
    display:none;
}
