body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(70, 77, 82);
}
* {
  box-sizing: border-box;
}
/*main*/

:root {
  --primary-color: #7c0d32;
}
.layered-card {
  height: 100%;
  width: 100%;
  background-color: var(--primary-color);
  margin: auto;
  padding: 2rem;
  text-align: center;
  overflow: hidden;
}

input {
  display: block;
  width: 90%;
  padding: 1rem;
  margin: auto;
  font-family: inherit;
}
h1 {
  font-size: 1.6rem;
}
h1,
p {
  color: white;
}

h2 {
  color: #cbd5e1;
}

/*button*/
button {
  text-align: center;
  margin: 1rem;
  width: 5rem;
  padding: 0.6rem;
  background-color: #ffffff;
  color: var(--primary-color);
  font-family: inherit;
}
.secondary-details {
  display: none;
}
.show-secondary-details {
  display: block;
}

/*table*/
table {
  width: 100%;
  table-layout: fixed;
}
table,
th,
td {
  border: 1px solid black;
  padding: 0.4rem;
  border-collapse: collapse;
  background-color: #2f3b4b;
}
th,
td {
  word-wrap: break-word;
  color: #ffffff;
}
.table-collapse {
  border-collapse: collapse;
}
.notes-table {
  display: none;
}

.td-color {
  background-color: white;
  color: black;
}

.error {
  margin-top: 4px;
  font-size: large;
}

.primary-error {
  display: none;
}

.secondary-error {
  display: none;
}
